<!DOCTYPE html>
<html>
<head>
    <title>Coastal Weather Teller</title>
</head>
<body>
    <h1>Coastal Weather Teller - Kanyakumari District</h1>

    <h2>Select a Location:</h2>

    <ul>
        <li>
            <a href="/kanyakumari">Kanyakumari</a><br>
            <img src="{{ url_for('static', filename='kanyakumari_qr.png') }}" width="150">
        </li>

        <li>
            <a href="/muttom">Muttom</a><br>
            <img src="{{ url_for('static', filename='muttom_qr.png') }}" width="150">
        </li>

        <li>
            <a href="/sothavilai">Sothavilai</a><br>
            <img src="{{ url_for('static', filename='sothavilai_qr.png') }}" width="150">
        </li>

        <li>
            <a href="/vivekananda">Vivekananda Rock</a><br>
            <img src="{{ url_for('static', filename='vivekananda_qr.png') }}" width="150">
        </li>

        <li>
            <a href="/thengapattinam">Thengapattinam</a><br>
            <img src="{{ url_for('static', filename='thengapattinam_qr.png') }}" width="150">
        </li>
    </ul>

</body>
</html>